# Examples in pandas for modifying a column in a dataframe

In [1]:
# Build sample data
import pandas as pd
COLS = ['name', 'age']
dat = [['Amy', 55], ['Bob', 66]]
df_orig = pd.DataFrame(dat, columns=COLS)

# Copy the original dataframe
df = df_orig.copy()

print('Initial dataframe:')
print(df)

Initial dataframe:
  name  age
0  Amy   55
1  Bob   66

## Modify every row in an existing column

In [2]:
# Short version using lambda expression
df['name'] = df_orig['name'].apply(lambda x: x + "_1") # apply to each element in the column df_orig['name]
print(df)

    name  age
0  Amy_1   55
1  Bob_1   66

In [3]:
# Long version calling a function
def convert_name(x):
   return x['name'] + "_2" # return a column with renamed elements

df['name'] = df_orig.apply(convert_name, axis=1) # axis=1 specifies column-wise operation over entire df_orig
# OR: df['name'] = df_orig.apply(lambda r: convert_name(r), axis=1)

print(df)

    name  age
0  Amy_2   55
1  Bob_2   66

In [4]:
# Convert column function, specify column name as a parameter to the apply function
def add_prefix(x, col):
    return "%s_%s" % (col, x[col])

# Add feature: customers who paid off within the first few months and are therefore suspicious: months_from_issue_to_last_pymnt
df['name2'] = df.apply(add_prefix, col='name', axis=1)
df['age2'] = df.apply(add_prefix, col='age', axis=1)

print(df)

    name  age       name2    age2
0  Amy_2   55  name_Amy_2  age_55
1  Bob_2   66  name_Bob_2  age_66